        .footer {
            max-width: 980px;
            margin: 20px auto 0;
            padding: 0 4%;
            color: grey;
        }
        
        .member-footer-links {
            font-size: 13px;
            display: -webkit-box;
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -webkit-flex-direction: row;
            -moz-box-orient: horizontal;
            -moz-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: start;
            -webkit-align-items: flex-start;
            -moz-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            margin: 0 0 14px 0;
            padding: 0;
        }
        
        @media (min-width: 800px) {
            .member-footer .member-footer-link-wrapper {
                -webkit-flex-basis: 25%;
                -ms-flex-preferred-size: 25%;
                flex-basis: 25%;
            }
        }
        
        .member-footer,
        .member-footer-link-wrapper {
            list-style: none;
            list-style-type: none;
            -webkit-box-flex: 0;
            -webkit-flex: 0 0 25%;
            -moz-box-flex: 0;
            -ms-flex: 0 0 25%;
            flex: 0 0 25%;
            margin-bottom: 16px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .member-footer,
        .member-footer-link,
        .member-footer-link-content {
            color: grey!important;
            text-decoration: none!important;
        }
        
        .member-footer-link:hover {
            text-decoration: underline!important;
        }
        
        .member-footer-link-content :hover {
            text-decoration: underline!important;
        }
        
        .member-footer,
        .service-code {
            margin-bottom: 20px;
            font-size: 13px;
            padding: .5em;
        }
        
        .service-code {
            background: 0 0;
            color: grey;
            border: solid 1px grey;
            font-size: 0.8rem;
            padding: .5rem;
        }
        
        .member-footer,
        .member-footer-copyright {
            font-size: 11px;
            margin-bottom: 15px;
        }
        
        .member-footer,
        .member-footer-copyright-instance {
            padding: 0 4px;
            display: inline-block;
        }